@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

.hide-scrollbar:not(:hover)::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar:not(:hover) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}
